{% extends 'base.html.twig' %}

{% block title %}Namų darbai{% endblock %}

{% block body %}

        <h1>Namų darbai</h1>
        <div class="example-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Mokinys</th>
                        <th scope="col">Uždavimo data</th>
                        <th scope="col">Dalykas</th>
                        <th scope="col">Mokytojas</th>
                        <th scope="col">Aprašymas</th>
                    </tr>
                </thead>     
                {% for user in users %}
                        <tbody>
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.class }}</td>
                                <td>{{ user.subject }}</td>
                                <td>{{ user.teacher }}</td>
                                <td>Uždaviniai 1-8</td>
                             </tr>
                        </tbody>
                {% endfor %}
            </table>
{% endblock %}