{% extends 'base.html.twig' %}

{% block title %}Mokytojų kontaktai{% endblock %}

{% block body %}


        <h1>Mokytoju kontaktai</h1>
        <div class="example-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Vardas</th>
                    <th scope="col">Pavardė</th>
                    <th scope="col">El.Paštas</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name}}</td>
                        <td>{{ user.lastname}}</td>
                        <td>{{ user.email}}</td>

                    </tr>
                {% if users == 0 %}
                    <tr>
                        <td colspan="11">Nėra duomenų</td>
                    </tr>
                {% endif %}

                {% endfor %}
                </tbody>
            </table>
{% endblock %}