{% extends 'base.html.twig' %}

{% block body %}
    {{ include('messengernavbar.html.twig') }}
        <?php } ?>
                <legend>Rašyti žinute</legend>
                <p>
                    <label class="field" for="nr">Gavėjas<?php echo in_array('nr', $required) ? ></label>
                    <input type="text" id="nr" name="nr" class="textbox textbox-70" value=""></p>
                </p>

                <p>
                    <label class="field" for="nr">Žinutė<?php echo in_array('nr', $required) ? ></label>
                    <input type="text" id="nr" name="nr" class="textbox textbox-70" value=""></p>
                </p>
            <p>
                <input type="submit" class="submit button" name="submit" value="Siusti">
            </p>
            <?php if(isset($data['nr'])) { ?>
            <input type="hidden" name="nr" value="<?php echo $data['nr']; ?>" />
            <?php } ?>

    </div>
{% endblock %}