{% extends 'base.html.twig' %}

{% block title %}Pastabos{% endblock %}

{% block body %}
        <h1>Pastabos</h1>
        <div class="example-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Vardas</th>
                    <th scope="col">Pavardė</th>
                    <th scope="col">Dėstomas dalykas</th>
                    <th scope="col">Data</th>
                    <th scope="col">Pastaba</th>
                </tr>
                </thead>
                    <tr>
                        <td>Vaikas1</td>
                        <td>Pavardenis1</td>
                        <td>Dalykas1</td>
                        <td>2019 11 18</td>
                        <td>desc</td>
                    </tr>
                    <tr>
                        <td>Vaikas1</td>
                        <td>Pavardenis1</td>
                        <td>Dalykas5</td>
                        <td>2019 11 18</td>
                        <td>desc</td>
                    </tr> 
                    <tr>
                        <td>Vaikas2</td>
                        <td>Pavardenis1</td>
                        <td>Dalykas2</td>
                        <td>2019 11 15</td>
                        <td>desc</td>
                    </tr>                       
                </tbody>
            </table>
{% endblock %}