{% extends 'base.html.twig' %}

{% block title %}Namų darbai{% endblock %}

{% block body %}

        <h1>Namų darbai</h1>
        <div class="example-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Vaikas</th>
                    <th scope="col">Uždavimo data</th>
                    <th scope="col">Dalykas</th>
                    <th scope="col">Iki kada reikia padaryti</th>
                    <th scope="col">Aprašymas</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vaikas1</td>
                        <td>2019 11 12</td>
                        <td>Dalykas1</td>
                        <td>2019 11 18</td>
                        <td>desc</td>
                    </tr>
                    <tr>
                        <td>Vaikas1</td>
                        <td>2019 11 12</td>
                        <td>Dalykas5</td>
                        <td>2019 11 18</td>
                        <td>desc</td>
                    </tr> 
                    <tr>
                        <td>Vaikas2</td>
                        <td>2019 11 14</td>
                        <td>Dalykas2</td>
                        <td>2019 11 15</td>
                        <td>desc</td>
                    </tr>                                           
                </tbody>
            </table>
{% endblock %}