{% extends 'base.html.twig' %}

{% block title %}Pažymiai{% endblock %}

{% block body %}

        <h1>Pažymiai</h1>
        <div class="example-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Vaikas</th>
                    <th scope="col">Dalykas</th>
                    <th scope="col">Pažymys</th>
                    <th scope="col">Informacija</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vaikas1</td>
                        <td>Dalykas1</td>
                        <td>8</td>
                        <td>desc</td>
                    </tr>
                    <tr>
                        <td>Vaikas1</td>
                        <td>Dalykas5</td>
                        <td>9</td>
                        <td>desc</td>
                    </tr> 
                    <tr>
                        <td>Vaikas2</td>
                        <td>Dalykas2</td>
                        <td>10</td>
                        <td>desc</td>
                    </tr>                                           
                </tbody>
            </table>
{% endblock %}