{% extends 'base.html.twig' %}

{% block title %}Pamokų tvarkaraštis{% endblock %}

{% block body %}
        <h1>Pamokų tvarkaraštis</h1>
        <div class="example-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Vaikas1</th>
                </tr>
                <tr>
                    <th scope="col">Pirmadienis</th>
                    <th scope="col">Antradienis</th>
                    <th scope="col">Trečiadienis</th>
                    <th scope="col">Ketvirtadienis</th>
                    <th scope="col">Penktadienis</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dalykas1</td>
                        <td>Dalykas2</td>
                        <td>Dalykas3</td>
                        <td>Dalykas4</td>
                        <td>Dalykas5</td>
                    </tr>
                    <tr>
                        <td>Dalykas1</td>
                        <td>Dalykas2</td>
                        <td>Dalykas3</td>
                        <td>Dalykas4</td>
                        <td>Dalykas5</td>
                    </tr>
                    <tr>
                        <td>Dalykas1</td>
                        <td>Dalykas2</td>
                        <td>Dalykas3</td>
                        <td>Dalykas4</td>
                        <td>Dalykas5</td>
                    </tr>
                    <tr>
                        <td>Dalykas1</td>
                        <td>Dalykas2</td>
                        <td>Dalykas3</td>
                        <td>Dalykas4</td>
                        <td>Dalykas5</td>
                    </tr>
                    <tr>
                        <td>Dalykas1</td>
                        <td>Dalykas2</td>
                        <td>Dalykas3</td>
                        <td>Dalykas4</td>
                        <td>Dalykas5</td>
                    </tr>                                            
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Vaikas2</th>
                </tr>
                <tr>
                    <th scope="col">Pirmadienis</th>
                    <th scope="col">Antradienis</th>
                    <th scope="col">Trečiadienis</th>
                    <th scope="col">Ketvirtadienis</th>
                    <th scope="col">Penktadienis</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dalykas1</td>
                        <td>Dalykas2</td>
                        <td>Dalykas3</td>
                        <td>Dalykas4</td>
                        <td>Dalykas5</td>
                    </tr>
                    <tr>
                        <td>Dalykas1</td>
                        <td>Dalykas2</td>
                        <td>Dalykas3</td>
                        <td>Dalykas4</td>
                        <td>Dalykas5</td>
                    </tr>
                    <tr>
                        <td>Dalykas1</td>
                        <td>Dalykas2</td>
                        <td>Dalykas3</td>
                        <td>Dalykas4</td>
                        <td>Dalykas5</td>
                    </tr>
                    <tr>
                        <td>Dalykas1</td>
                        <td>Dalykas2</td>
                        <td>Dalykas3</td>
                        <td>Dalykas4</td>
                        <td>Dalykas5</td>
                    </tr>
                    <tr>
                        <td>Dalykas1</td>
                        <td>Dalykas2</td>
                        <td>Dalykas3</td>
                        <td>Dalykas4</td>
                        <td>Dalykas5</td>
                    </tr>                                            
                </tbody>
            </table>            
{% endblock %}