{% extends 'base.html.twig' %}

{% block title %}Mokytojų kontaktai{% endblock %}

{% block body %}
        <h1>Namų darbai</h1>
        <div class="example-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Vardas</th>
                    <th scope="col">Pavardė</th>
                    <th scope="col">Dėstomas dalykas</th>
                    <th scope="col">El.Paštas</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vardenis1</td>
                        <td>Pavardenis1</td>
                        <td>Dalykas1</td>
                        <td>varpav1@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Vardenis2</td>
                        <td>Pavardenis2</td>
                        <td>Dalykas2</td>
                        <td>varpav2@gmail.com</td>
                    </tr>                    
                </tbody>
            </table>
{% endblock %}