{% extends 'base.html.twig' %}

{% block title %}Naujas mokytojas{% endblock %}

{% block body %}

    <div class="container">
        <h1>Sukurti naujo mokytojo paskyrą</h1>
        <div class="container" style="width: 500px">

            {{ include('user/_form.html.twig') }}

            <a class="btn btn-secondary" href="{{ absolute_url(path('admin_teachers')) }}">Atgal</a>
        </div>
    </div>

{% endblock %}