<h3>Jums sukurta dienyno paskyra</h3>

Sveiki {{ name|title }}!<br>
Jūs buvote sėkmingai užregistruotas į mokyklos dienyną.<br>
<br>
Prisijungimui naudokite šį el. paštą.<br>
Slaptažodis: {{ password }}<br>
<br>
Prisijungti galite <a href="{{ absolute_url(path('login')) }}">per čia</a>.