{% block navbar2 %}
    <div class="row" style="width: 100px">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="{{ absolute_url(path('messenger_openmesseges')) }}" role="tab" aria-controls="v-pills-home">Mokyklos pranešimai</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="{{ absolute_url(path('messenger_privatemesseges')) }}" role="tab" aria-controls="v-pills-profile">Asmeniniai pranešimai</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="{{ absolute_url(path('messenger_writemesseges')) }}" role="tab" aria-controls="v-pills-messages">Rašyti pranešimą</a>
            </div>
        </div>
    </div>
{% endblock %}