{% block navbar2 %}
    <div class="row" style="width: 100px">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" href="{{ absolute_url(path('messenger_openmesseges')) }}">Mokyklos pranešimai</a>
                <a class="nav-link" href="{{ absolute_url(path('messenger_privatemesseges')) }}">Asmeniniai pranešimai</a>
                <a class="nav-link" href="{{ absolute_url(path('messenger_writemesseges')) }}">Rašyti pranešimą</a>
            </div>
        </div>
    </div>
{% endblock %}