{% block navbar %}
    <nav class="navbar navbar-light bg-light sticky-right">
        <a class="navbar-brand" href="{{ absolute_url(path('home_page')) }}">
	</a>
<style>
    .topnav-right {
        float: left;
    }
</style>
        <div>
            <ul class="navbar-nav mr-auto topnav-right ">
                {% if is_granted('ROLE_STUDENT') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ absolute_url(path('messenger_openmesseges')) }}">Mokyklos pranešimai</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ absolute_url(path('messenger_privatemesseges')) }}">Asmeniniai pranešimai</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ absolute_url(path('messenger_writemesseges')) }}">Rašyti pranešimą</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}